body {
    margin: 40px;
    /* background: #111; */
    background: #111;
}
#main_frame {
    /* background: slightly transparent black */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;

    /* center on page accounting for element size*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* flex box, column. Space elements out a bit */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;

}
.game_button {
    /* make the button pretty */
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #afafaf;
    box-shadow: 0 9px #737373;
    /* on hover, darken the button */
}
#new_game {
    background-color: #4CAF50;
    box-shadow: 0 9px #337736;
}
#versus_game {
    background-color: #4c57af;
    box-shadow: 0 9px #334577;
}
#race_game {
    background-color: #af564c;
    box-shadow: 0 9px #773b33;
}
#puzzle_game {
    background-color: #9b4caf;
    box-shadow: 0 9px #743377;
}
/* on hover, highlight the button*/
.game_button:hover {
    border: 3px solid #fff;
}